<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Disruptor 3.0</title>

<link rel="stylesheet" href="../src/assets/css/index.css">

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">

</head>

<body>

<header>

<div class="container">

<div class="logo">

<img src="assets/images/logo.png">

</div>

<nav>

<a href="#">Home</a>
<a href="#">Programs</a>
<a href="#">About</a>
<a href="#">Register</a>

</nav>

<button class="btn">
Register
</button>

</div>

</header>



<section class="hero">

<div class="left">

<p class="small">
Tech Summer Camp
</p>

<h1>

Become a Future
Digital Creator

</h1>

<p>

Learn Web Design,
Game Development,
Scratch,
Animation,
Robotics and AI.

</p>

<div class="buttons">

<button class="primary">
Get Started
</button>

<button class="secondary">
Learn More
</button>

</div>

</div>



<div class="right">

<img src="../src/assets/images/Disruptors 3.0_070818.png">

</div>

</section>



<section class="stats">


 

</section>



<section class="courses">

<h2>What You'll Learn</h2>

<div class="grid">

<div class="card">

<h3>Scratch</h3>

<p>Game & Animation Design</p>

</div>

<div class="card">

<h3>Frontend</h3>

<p>HTML CSS JavaScript</p>

</div>

<div class="card">

<h3>AI</h3>

<p>Artificial Intelligence</p>

</div>

<div class="card">

<h3>Robotics</h3>

<p>Build Smart Machines</p>

</div>

<div class="card">

<h3>Mobile Apps</h3>

<p>Design Mobile Apps</p>

</div>

<div class="card">

<h3>Creativity</h3>

<p>Innovation Skills</p>

</div>

</div>

</section>



<section class="cta">

<h2>

Join
Disruptor 3.0

</h2>

<p>

31 July - 28 August 2026

</p>

<button>

 Register Now

</button>

</section>



<footer>

<h2>Neztrans Digitals</h2>

<p>

09032085009

</p>

<p>

www.disruptors.neztransdigitals.com

</p>

</footer>

<script src="../src/assets/js/index.js"></script>

</body>

</html>